@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-black.eot');
  src: url('../fonts/lato/lato-black.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-black.woff') format('woff'), url('../fonts/lato/lato-black.ttf') format('truetype'), url('../fonts/lato/lato-black.svg#latoblack') format('svg');
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.72222;
  background-image: url("pics/background.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}
table{
	table-layout: auto;
	width:98%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
table, th, td {
   border: 1px solid black;
}
th {
	height:60%;
}
/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: #a52cc3;
     background-color: lightgreen;
}

/* selected link */
a:active {
    color: blue;
}
   
